@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Audiowide&family=Maven+Pro&family=Satisfy&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Archivo Black', sans-serif;
}

body {
    background: url(../assets/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#clock {
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    font-size: 10rem;
    list-style: none;
    color: #fff;
    opacity: 0.7;
    text-shadow: 1rem 1rem 1rem rgba(248, 248, 248, 0.2);
}